*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: cadetblue;
}

.main {
    width: 90%;
    max-width: 25em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:50%;
    padding: 2em;
    border-radius: 0.8em;
}

.app-details {
    display:  flex;
    align-items: center;
    flex-direction: column;
}

.app-icon {
    width: 12em;
}

.app-title{
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
}

/* label {
    display: block;
    font-weight: 600;
} */

input#amount {
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid #02002c;
    color: rgb(10, 41, 30);
    margin-bottom: 2em;
    padding: 0.5em;
}

input#amount:focus{
    color: rgb(250, 1, 1);
    border-color: rgb(250, 1, 1);
    font-weight: bolder;
}


.dropdowns {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

select {
    cursor: pointer;
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
    appearance: none;
    background-size: 20px 20px;
    background-color: darkgreen;
    color: #ffffff;

}

select option {
    background-color: #ffffff;
    color:#353272
}

button{
    font-size: 1em;
    width:100%;
    background-color: cadetblue;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    color:#ffffff;
    font-weight: 600;
    cursor: pointer;
    
}

#resultUSD {
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color:#ffffff;
    background-color:rgb(88, 88, 17);
    padding: 0.8em 0; 
}

